# Ignore class files
*.class

# Ignore package files
*.jar
*.war
*.ear

# Ignore log files
*.log

# Ignore compiled files
/bin/
build/

# Ignore IntelliJ IDEA files
/.idea/
/*.iml
/out/

# Ignore Eclipse files
/.settings/
/.project
.classpath

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db
ehthumbs.db

# Ignore Maven and Gradle build files
target/
*.pom
*.properties
*.gradle
.gradle/
/build/

# Ignore temporary files
*.tmp
*.swp

# Ignore coverage reports
/coverage/
/jacoco/

# Ignore test result files
/test-output/
/surefire-reports/
/test-reports/

# Ignore generated metadata files
*.orig
